<b>PH3022 - Machine Learning and Neural Computation - Assignment 03</b>

<b>Q1</b>

In [14]:
import numpy as np
import pandas as pd

df = pd.read_csv("dataset.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

<b>Q1.a</b>

Description:

This dataset contains 207 rows and 26 columns, representing various attributes of automobiles. The columns include numerical measurements (e.g., length, width, horsepower), categorical attributes (e.g., fuel type, body style), and price-related information.

Column Headers and Data Types:

    1) symboling - int64
    
    2) normalized-losses - float64
    
    3) make - object
    
    4) fuel-type - object
    
    5) aspiration - object
    
    6) num-of-doors - object
    
    7) body-style - object
    
    8) drive-wheels - object
    
    9) engine-location - object
    
    10) wheel-base - float64
    
    11) length - float64
    
    12) width - float64
    
    13) height - float64
    
    14) curb-weight - int64
    
    15) engine-type - object

    16) num-of-cylinders - object
    
    17) engine-size - int64
    
    18) fuel-system - object
    
    19) bore - float64
    
    20) stroke - float64
    
    21) compression-ratio - float64
    
    22) horsepower - float64
    
    23) peak-rpm - float64
    
    24) city-mpg - int64
    
    25) highway-mpg - int64
    
    26) price - float64

<b>Q1.b</b>

In [40]:
column_labels = [
    "symboling",
    "normalized-losses",
    "make",
    "fuel-type",
    "aspiration",
    "num-of-doors",
    "body-style",
    "drive-wheels",
    "engine-location",
    "wheel-base",
    "length",
    "width",
    "height",
    "curb-weight",
    "engine-type",
    "num-of-cylinders",
    "engine-size",
    "fuel-system",
    "bore",
    "stroke",
    "compression-ratio",
    "horsepower",
    "peak-rpm",
    "city-mpg",
    "highway-mpg",
    "price"
]

df.columns = column_labels
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

<b>Q1.c</b>

In [16]:
missing_values = df.isnull().sum()
print(missing_values)

symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

<b>Q1.d</b>

In [8]:
num_duplicate_rows = df.duplicated().sum()
num_unique_rows = df.drop_duplicates().shape[0]

print("Number of duplicate rows:", num_duplicate_rows)
print("Number of unique rows:", num_unique_rows)

Number of duplicate rows: 4
Number of unique rows: 204

<b>Q1.e</b>

In [39]:
duplicated_rows = df[df.duplicated(keep=False)]
print(duplicated_rows)

     symboling  normalized-losses           make fuel-type aspiration  \
7            1              101.0          honda       gas        std
32           1              101.0          honda       gas        std
49          -1               93.0  mercedes-benz    diesel      turbo
69          -1               93.0  mercedes-benz    diesel      turbo
101          0              106.0         nissan       gas        std
128          0              106.0         nissan       gas        std
143          1               87.0         toyota       gas        std
154          1               87.0         toyota       gas        std

    num-of-doors body-style drive-wheels engine-location  wheel-base  length  \
7            two  hatchback          fwd           front        93.7   150.0
32           two  hatchback          fwd           front        93.7   150.0
49          four      wagon          rwd           front       110.0   190.9
69          four      wagon          rwd           front       110.0   190.9
101         four      sedan          fwd           front        97.2   173.4
128         four      sedan          fwd           front        97.2   173.4
143          two  hatchback          fwd           front        95.7   158.7
154          two  hatchback          fwd           front        95.7   158.7

     width  height  curb-weight engine-type num-of-cylinders  engine-size  \
7     64.0    52.6         1837         ohc             four           79
32    64.0    52.6         1837         ohc             four           79
49    70.3    58.7         3750         ohc             five          183
69    70.3    58.7         3750         ohc             five          183
101   65.2    54.7         2302         ohc             four          120
128   65.2    54.7         2302         ohc             four          120
143   63.6    54.5         2040         ohc             four           92
154   63.6    54.5         2040         ohc             four           92

    fuel-system  bore  stroke  compression-ratio  horsepower  peak-rpm  \
7          1bbl  2.91    3.07               10.1        60.0    5500.0
32         1bbl  2.91    3.07               10.1        60.0    5500.0
49          idi  3.58    3.64               21.5       123.0    4350.0
69          idi  3.58    3.64               21.5       123.0    4350.0
101        2bbl  3.33    3.47                8.5        97.0    5200.0
128        2bbl  3.33    3.47                8.5        97.0    5200.0
143        2bbl  3.05    3.03                9.0        62.0    4800.0
154        2bbl  3.05    3.03                9.0        62.0    4800.0

     city-mpg  highway-mpg    price
7          38           42   5399.0
32         38           42   5399.0
49         22           25  28248.0
69         22           25  28248.0
101        27           34   9549.0
128        27           34   9549.0
143        31           38   6338.0
154        31           38   6338.0

<b>Q1.f</b>

In [31]:
df_new = df.drop_duplicates()

print("Original rows:", len(df))
print("Rows after removing duplicates:", len(df_new))

Original rows: 208
Rows after removing duplicates: 204

<b>Q1.g</b>

In [16]:
df_clean = df_new.dropna()

print("Rows in df_new (after removing duplicates):", len(df_new))
print("Rows after dropping missing values:", len(df_clean))

Rows in df_new (after removing duplicates): 204
Rows after dropping missing values: 159

Removing rows with missing values is safe when;

    1) Only a few rows are missing values.
    
    2) Missing values are random and not related to specific patterns.
    
    3) Dropping rows does NOT damage the sample size significantly.

Removing rows with missing values is not safe when;

    1) The dataset is small.
    
    2) Many rows contain missing values.
    
    3) Missing values are concentrated in important columns.
    
    4) The missing values are not random.

For this dataset:

Automobile dataset is small(nearly 205 rows) and missing values occur mainly in:

    1) normalized-losses
    
    2) bore
    
    3) stroke
    
    4) horsepower
    
    5) peak-rpm
    
    6) price

Dropping these rows will remove many valuable samples, especially price rows. This is very risky for machine learning.

<b>Q1.h</b>

Fill missing values using:

    Mean for numerical columns
    
    Most frequent (mode) for string/categorical columns

In [19]:
df_mean_mode = df_new.copy()

num_cols = df_mean_mode.select_dtypes(include=['number']).columns
cat_cols = df_mean_mode.select_dtypes(include=['object']).columns

df_mean_mode[num_cols] = df_mean_mode[num_cols].fillna(df_mean_mode[num_cols].mean())

for col in cat_cols:
    df_mean_mode[col] = df_mean_mode[col].fillna(df_mean_mode[col].mode()[0])

Fill missing values using:

    Median for numerical columns
    
    Most frequent (mode) for string/categorical columns

In [20]:
df_median_mode = df_new.copy()

num_cols = df_median_mode.select_dtypes(include=['number']).columns
cat_cols = df_median_mode.select_dtypes(include=['object']).columns

df_median_mode[num_cols] = df_median_mode[num_cols].fillna(df_median_mode[num_cols].median())

for col in cat_cols:
    df_median_mode[col] = df_median_mode[col].fillna(df_median_mode[col].mode()[0])

<b>Q1.i</b>

One-hot encoding is a technique used to convert categorical (non-numeric) data into a numerical format that machine learning models can understand.

The importance of One-Hot Encoding;

    1) To prevent false numerical relationships.
    
    2) To make categorical data usable by ML models.
    
    3) To help the model learn category-specific patterns.
    
    4) To avoid misleading magnitude-based effects.
    
    5) It works well with sparse, high-dimensional ML algorithms.

<b>Q1.j</b>

In [46]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 2000)

categorical_cols = df_new.select_dtypes(include=['object', 'category']).columns
print("Categorical Columns:", categorical_cols.tolist())

df_ohe = pd.get_dummies(df_new, columns=categorical_cols, drop_first=False)

encoded_cols = []
for cat in categorical_cols:
    encoded_cols.extend([col for col in df_ohe.columns if col.startswith(cat + "_")])

print("\nOne-Hot Encoded Columns:")
print(encoded_cols)

df_ohe[encoded_cols] = df_ohe[encoded_cols].astype(int)

df_ohe[encoded_cols].head()

Categorical Columns: ['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system']

One-Hot Encoded Columns:
['make_alfa-romero', 'make_audi', 'make_bmw', 'make_chevrolet', 'make_dodge', 'make_honda', 'make_isuzu', 'make_jaguar', 'make_mazda', 'make_mercedes-benz', 'make_mercury', 'make_mitsubishi', 'make_nissan', 'make_peugot', 'make_plymouth', 'make_porsche', 'make_renault', 'make_saab', 'make_subaru', 'make_toyota', 'make_volkswagen', 'make_volvo', 'fuel-type_diesel', 'fuel-type_gas', 'aspiration_std', 'aspiration_turbo', 'num-of-doors_four', 'num-of-doors_two', 'body-style_convertible', 'body-style_hardtop', 'body-style_hatchback', 'body-style_sedan', 'body-style_wagon', 'drive-wheels_4wd', 'drive-wheels_fwd', 'drive-wheels_rwd', 'engine-location_front', 'engine-location_rear', 'engine-type_dohc', 'engine-type_dohcv', 'engine-type_l', 'engine-type_ohc', 'engine-type_ohcf', 'engine-type_ohcv', 'engine-type_rotor', 'num-of-cylinders_eight', 'num-of-cylinders_five', 'num-of-cylinders_four', 'num-of-cylinders_six', 'num-of-cylinders_three', 'num-of-cylinders_twelve', 'num-of-cylinders_two', 'fuel-system_1bbl', 'fuel-system_2bbl', 'fuel-system_4bbl', 'fuel-system_idi', 'fuel-system_mfi', 'fuel-system_mpfi', 'fuel-system_spdi', 'fuel-system_spfi']

   make_alfa-romero  make_audi  make_bmw  make_chevrolet  make_dodge  make_honda  make_isuzu  make_jaguar  make_mazda  make_mercedes-benz  make_mercury  make_mitsubishi  make_nissan  make_peugot  make_plymouth  make_porsche  make_renault  make_saab  make_subaru  make_toyota  make_volkswagen  make_volvo  fuel-type_diesel  fuel-type_gas  aspiration_std  aspiration_turbo  num-of-doors_four  num-of-doors_two  body-style_convertible  body-style_hardtop  body-style_hatchback  body-style_sedan  body-style_wagon  drive-wheels_4wd  drive-wheels_fwd  drive-wheels_rwd  engine-location_front  engine-location_rear  engine-type_dohc  engine-type_dohcv  engine-type_l  engine-type_ohc  engine-type_ohcf  engine-type_ohcv  engine-type_rotor  num-of-cylinders_eight  num-of-cylinders_five  num-of-cylinders_four  num-of-cylinders_six  num-of-cylinders_three  num-of-cylinders_twelve  num-of-cylinders_two  fuel-system_1bbl  fuel-system_2bbl  fuel-system_4bbl  fuel-system_idi  fuel-system_mfi  fuel-system_mpfi  fuel-system_spdi  fuel-system_spfi
0                 1          0         0               0           0           0           0            0           0                   0             0                0            0            0              0             0             0          0            0            0                0           0                 0              1               1                 0                  0                 1                       1                   0                     0                 0                 0                 0                 0                 1                      1                     0                 1                  0              0                0                 0                 0                  0                       0                      0                      1                     0                       0                        0                     0                 0                 0                 0                0                0                 1                 0                 0
1                 1          0         0               0           0           0           0            0           0                   0             0                0            0            0              0             0             0          0            0            0                0           0                 0              1               1                 0                  0                 1                       0                   0                     1                 0                 0                 0                 0                 1                      1                     0                 0                  0              0                0                 0                 1                  0                       0                      0                      0                     1                       0                        0                     0                 0                 0                 0                0                0                 1                 0                 0
2                 0          1         0               0           0           0           0            0           0                   0             0                0            0            0              0             0             0          0            0            0                0           0                 0              1               1                 0                  1                 0                       0                   0                     0                 1                 0                 0                 1                 0                      1                     0                 0                  0              0                1                 0                 0                  0                       0                      0                      1                     0                       0                        0                     0                 0                 0                 0                0                0                 1                 0                 0
3                 0          1         0               0           0           0           0            0           0                   0             0                0            0            0              0             0             0          0            0            0                0           0                 0              1               1                 0                  1                 0                       0                   0                     0                 1                 0                 1                 0                 0                      1                     0                 0                  0              0                1                 0                 0                  0                       0                      1                      0                     0                       0                        0                     0                 0                 0                 0                0                0                 1                 0                 0
4                 0          1         0               0           0           0           0            0           0                   0             0                0            0            0              0             0             0          0            0            0                0           0                 0              1               1                 0                  0                 1                       0                   0                     0                 1                 0                 0                 1                 0                      1                     0                 0                  0              0                1                 0                 0                  0                       0                      1                      0                     0                       0                        0                     0                 0                 0                 0                0                0                 1                 0                 0

<b>Q2</b>

In [25]:
numeric_cols = df_mean_mode.select_dtypes(include=['number'])

<b>Q2.a</b>

In [49]:
mean_vals = numeric_cols.mean()
print(mean_vals.to_frame(name='mean'))

                           mean
symboling              0.823529
normalized-losses    122.000000
wheel-base            98.806373
length               174.075000
width                 65.916667
height                53.749020
curb-weight         2555.602941
engine-size          126.892157
bore                   3.329050
stroke                 3.258300
compression-ratio     10.148137
horsepower           104.222772
peak-rpm            5125.990099
city-mpg              25.240196
highway-mpg           30.769608
price              13205.690000

<b>Q2.b</b>

In [50]:
median_vals = numeric_cols.median()
print(median_vals.to_frame(name='median'))

                     median
symboling              1.00
normalized-losses    122.00
wheel-base            97.00
length               173.20
width                 65.50
height                54.10
curb-weight         2414.00
engine-size          119.50
bore                   3.31
stroke                 3.29
compression-ratio      9.00
horsepower            95.00
peak-rpm            5200.00
city-mpg              24.00
highway-mpg           30.00
price              10470.00

<b>Q2.c</b>

In [48]:
mode_vals = numeric_cols.mode().iloc[0]
print(mode_vals.to_frame(name='mode'))

                       mode
symboling              0.00
normalized-losses    122.00
wheel-base            94.50
length               157.30
width                 63.80
height                50.80
curb-weight         2385.00
engine-size           92.00
bore                   3.62
stroke                 3.40
compression-ratio      9.00
horsepower            68.00
peak-rpm            5500.00
city-mpg              31.00
highway-mpg           25.00
price              13205.69

<b>Q2.d</b>

In [54]:
variance_vals = numeric_cols.var()
print(variance_vals.to_frame(name='variance'))

                       variance
symboling          1.535207e+00
normalized-losses  1.008631e+03
wheel-base         3.592976e+01
length             1.528221e+02
width              4.608391e+00
height             5.880147e+00
curb-weight        2.724431e+05
engine-size        1.742609e+03
bore               7.362029e-02
stroke             9.718829e-02
compression-ratio  1.584836e+01
horsepower         1.569236e+03
peak-rpm           2.285520e+05
city-mpg           4.292232e+01
highway-mpg        4.758705e+01
price              6.222212e+07

<b>Q2.e</b>

In [53]:
std_vals = numeric_cols.std()
print(std_vals.to_frame(name='std'))

                           std
symboling             1.239035
normalized-losses    31.758944
wheel-base            5.994144
length               12.362123
width                 2.146716
height                2.424901
curb-weight         521.960820
engine-size          41.744569
bore                  0.271331
stroke                0.311750
compression-ratio     3.981000
horsepower           39.613588
peak-rpm            478.071104
city-mpg              6.551513
highway-mpg           6.898337
price              7888.099600

<b>Q2.f</b>

In [52]:
min_vals = numeric_cols.min()
print(min_vals.to_frame(name='min'))

                       min
symboling            -2.00
normalized-losses    65.00
wheel-base           86.60
length              141.10
width                60.30
height               47.80
curb-weight        1488.00
engine-size          61.00
bore                  2.54
stroke                2.07
compression-ratio     7.00
horsepower           48.00
peak-rpm           4150.00
city-mpg             13.00
highway-mpg          16.00
price              5118.00

<b>Q2.g</b>

In [51]:
max_vals = numeric_cols.max()
print(max_vals.to_frame(name='max'))

                        max
symboling              3.00
normalized-losses    256.00
wheel-base           120.90
length               208.10
width                 72.30
height                59.80
curb-weight         4066.00
engine-size          326.00
bore                   3.94
stroke                 4.17
compression-ratio     23.00
horsepower           288.00
peak-rpm            6600.00
city-mpg              49.00
highway-mpg           54.00
price              45400.00